**/.DS_Store
**/__pycache__/

data/

documents/paper.pdf

**.aux
**.fdb_latexmk
**.fls
**.log
**.out
**.synctex.gz
**.toc

results*
!analysis/results.ipynb

notebooks/investigate_results/

analysis/best_hyperparameters_*.csv
documents/*-diff.*